<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input #input class="new-todo" placeholder="What needs to be done?" autofocus (keyup.enter)="create(input)">
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggle(todo)" [checked]="todo.completed">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="remove(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count">
      <strong>{{todos.length}}</strong>
      &ngsp;{todos.length, plural, =1 {item} other {items}} left
    </span>
  </footer>
</section>
